[Desktop Entry]
Name=Volume Viewer
GenericName=Image Viewer
Exec=/path/to/volume_viewer.py %F
Type=Application
Terminal=false
Categories=Graphics;RasterGraphics;Viewer;3DGraphics;
